body {
  background-color: rgb(243, 255, 240);
}

h1 {

margin-top: 40px;
}

p {
  font-size: 20px;
  


}
#number {
  font-size: 60px;
  margin-left: 250px;
  margin-top: -75px;
  font-weight: bold;
  color: rgb(161, 23, 23);
  font-style: italic;
}

.gem {
  margin-top: 50px;
  margin-left: 100px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  border: 1px dashed blueviolet

}
